@media (min-width: 1024px) {
    /****Header***/
    .nav-header {
        display: grid;
        grid-template-columns: 1fr 5fr 1fr 1fr 1fr;
        grid-template-rows: 1fr;
        grid-template-areas: "logo . accommodations activities signUp";
    }
    #nav-header-accommodations,
    #nav-header-activities {
        border-bottom: none;
        border-top: 3px solid white;
    }
    #nav-header-signUp {
        padding-left: 0;
    }
    #nav-header-accommodations:hover,
    #nav-header-activities:hover {
        border-bottom: none;
        border-top: 3px solid #0065FC;
    }
    /**Search Accommodations Section**/
    .search-accommodations {
        margin-left: 20px;
    }
    .search-menu {
        width: 400px;
    }
    .search-input {
        border: none;
    }
    .search-button {
        width: 130px;
        border-radius: 0 15px 15px 0;
    }
    .search-button i {
        display: none;
    }
    .search-button span {
        display: inline;
    }
    /**Search Filters Section**/
    #filters-section h3 {
        width: auto;
        margin-right: 25px;
    }
    #filters-section {
        margin-bottom: 10px;
        margin-left: 20px;
    }
    /**Accommodations Section**/
    /***Marseilles Accomodations Article***/
    #accommodation {
        flex-direction: row;
        justify-content: space-between;
        width: 95%;
        margin-left: 25px;
    }
    #accommodation-bloc {
        background: #F2F2F2;
    }
    article h3 {
        width: 100%;
        padding-left: 40px;
    }
    #accommodation article {
        display: flex;
        flex-wrap: wrap;
        background-color: #F2F2F2;
        border-radius: 20px;
        margin-right: 10px;
    }
    .accommodation-card {
        background-color: white;
    }
    .marseilles-accommodation {
        width: 29%;
        margin-right: 10px;
        margin-left: 23px;
    }
    #accommodation-plus {
        margin-top: 10px;
        margin-bottom: 35px;
        padding-left: 40px;
    }
    /***Marseilles Famous Accomodations Aside***/
    aside {
        width: 100%;
        border-radius: 20px;
        margin-left: 10px;
    }
    #famous-graph {
        margin-top: 0;
    }
    #famous-title {
        margin-bottom: 10px;
    }
    #famous-title h3 {
        margin-top: 0;
    }
    .famous-card {
        margin-bottom: 30px;
    }
    /*** Marseilles Activities Article***/
    #activities {
        flex-direction: row;
        flex-wrap: wrap;
        margin-left: 25px;
    }
    #activities h3 {
        padding-left: 0;
        margin-top: 45px;
    }
    #activity-cards {
        display: flex;
    }
    .activity-first {
        width: 25%;
        margin-right: 40px;
    }
    .activity-first img {
        height: 335px;
    }
    .activity-second {
        width: 25%;
        margin-right: 40px;
    }
    .activity-second:first-child {
        flex: 1;
    }
    /**Footer**/
    footer {
        padding-left: 25px;
    }
    #footer {
        flex-direction: row;
        align-items: unset;
    }
}