@media (min-width: 1024px) {

    header {
        
    }

    header nav {
        display: flex;

    }

    .menu {
        display: flex;
        list-style-type: none;
    }

    nav li {
        padding-top: 25px;
    }

    .menu a {
        padding: 0 30px 15px;
    }


    


    /**Search Accommodations Section**/
    
    .search-menu {
        width: 350px;
    }

    .container-marker {
        width: 50px;
    }

    
    .search-input {
        border: none;
    }

    .search-button {
        width: 130px;
    }

    .search-button i {
        display: none;
    }

    .search-button p{
        display: inline;
    }

    /**Search Filters Section**/
   
    #filters-section h3 {
        width: auto;
        margin-right: 25px;
    }

/**Accommodations Section**/

        /***Marseilles Accomodations Article***/
#accommodations {
    flex-direction: row;
    justify-content: space-between;
    width:100%;
}
#accommodations article{
    width: 99%;
    display: flex;
    flex-wrap: wrap;
    background-color:#F2F2F2;
    border-radius: 20px;
    margin-right: 10px;
}

article h3{
    width: 100%;
    padding-left: 40px;
   
}
    
.accommodation-card{
    background-color: white;
}

.marseilles-accommodation{
    width: 29%;
    margin-right: 10px;
    margin-left: 23px;
}

#accommodation-plus{
    margin-top: 10px;
    margin-bottom: 35px;
    padding-left: 40px;
}
    /***Marseilles Famous Accomodations Aside***/

aside {
    width:40%;
    border-radius: 20px;
}

#famous-graph{
    margin-top: 0;
}

#famous-title{
    margin-bottom: 10px;
}

#famous-title h3{
    margin-top: 0;
}
.famous-card{
    margin-bottom: 30px;
    
}
    /*** Marseilles Activities Article***/

#activities {
    display: flex;
    flex-wrap: wrap;
    background-color: white;
}


    #activities h3 {
        width: 100%;
    }

    .activity-card {
        border: none;
    }

    .activity-card img {
        height: 125px;

    }


    .activity-card h4 {
        margin-top: revert;
        padding: 0 30px 20px 15px;
    }

    .activity-card:nth-child(1) {
        resize: vertical;
        height: 400px;
    }

    .activity-card:nth-child(2) {
        resize: vertical;
        height: 200px;

    }

    /**Footer**/
    footer {
        padding-left: 25px;
    }

    #footer {
        flex-direction: row;
        align-items: unset;
    }