body {
    font-family: 'Raleway', sans-serif;
    font-weight: normal;
}

h1, h2, h3, h4, h5 {
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
}

a {
    text-decoration: none;
    font-family: 'Raleway', sans-serif;
    color: black;
}

/*** Header ***/
header {
    display: flex;
}

#header-one{
    display: flex;
}

/******/
.filter-type p:hover {
    color: #0065FC;
}

/*** CLASSES ***/

.blue-color {
    color: #0065fc;
}

.grey-color {
    color: #F2F2F2;
}

.stars-number, .stars-famous {
    font-size: 0.8rem;
}
