.nav-header {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: "logo signUp" "accommodations activities";
}

.nav-link {
    justify-content: center;
    align-items: center;
}

#nav-header-logo {
    grid-area: logo;
    padding-left: 15px;
}

#nav-header-signUp {
    grid-area: signUp;
    padding-left: 75px;
    font-weight: bold;
}

#nav-header-accommodations {
    grid-area: accommodations;
}

#nav-header-activities {
    grid-area: activities;
}

#nav-header-accommodations,
#nav-header-activities {
    border-bottom: 3px solid #F2F2F2;
}

#nav-header-accommodations:hover,
#nav-header-activities:hover {
    color: #0065FC;
    border-bottom: 3px solid #0065FC;
}


/**Search Accommodations Section**/

.search-accommodations {
    margin-bottom: 30px;
    margin-left: 15px;
}

.search-accommodations h2 {
    margin-bottom: 10px;
}

.search-accommodations p {
    margin-top: 10px;
}

.search-menu {
    margin-bottom: 30px;
    height: 50px;
    border: 1px solid #F2F2F2;
}

.container-marker {
    background-color: #F2F2F2;
    border-radius: 15px 0 0 15px;
    width: 100px;
}

.container-marker i {
    margin: auto;
    font-size: 1.2rem;
}

.search-input {
    width: 230px;
    padding: 0 0 0 15px;
    font-size: 1.1rem;
    font-weight: bold;
    border: none;
}

.search-input::placeholder {
    color: black;
}

.search-button {
    width: 90px;
    background-color: #0065FC;
    border: none;
    border-radius: 15px;
    color: #fff;
    font-weight: bold;
    font-size: 1rem;
}

.search-button span {
    display: none;
}

.search-button i {
    display: inline;
}


/**Search Filters Section**/

#filters-section {
    display: flex;
    flex-wrap: wrap;
    margin-left: 15px;
}

#filters-section h3 {
    width: 100%;
}

#filters-section a {
    font-weight: bold;
    margin: 5px;
}

.filter-type {
    position: relative;
    border: 3px solid #F2F2F2;
    border-radius: 40px;
    padding-left: 60px;
    padding-right: 10px;
}

.fa-stack {
    position: absolute;
    font-size: 1.75rem;
    left: -10px;
    top: -1.5px;
}

.info {
    position: relative;
    font-size: 0.8rem;
    left: auto;
    top: 10px;
}

#filters-info {
    display: flex;
}

#filters-info p {
    margin-left: 10px;
}


/**Accommodations Section**/


/***Marseilles Accomodations Article***/

#accommodation {
    display: flex;
    flex-direction: column-reverse;
}

#accommodation article,
#activities {
    background-color: white;
}

.accommodation-card,
.activity-card {
    border: solid 0.3em white;
    box-shadow: 6px 6px 6px 6px #f5f4f4;
    margin-bottom: 20px;
}

.accommodation-card img,
.activity-card img {
    width: 100%;
    height: 135px;
    border-radius: 20px 20px 0 0;
}

.accommodation-info {
    padding: 0 0 10px 15px;
}

.accommodation-info h4 {
    width: 100%;
    margin-top: 5px;
    margin-bottom: 0px;
}

.accommodation-info p {
    font-size: 0.9rem;
    margin-top: 5px;
    margin-bottom: 5px;
}

#accommodation-plus {
    margin-top: 35px;
}


/***Marseilles Famous Accomodations Aside***/

aside {
    background-color: #F2F2F2;
    padding-top: 30px;
    padding-bottom: 15px;
}

#famous-title {
    display: flex;
    justify-content: space-between;
    margin-left: 15px;
    margin-right: 15px;
}

#famous-title h3 {
    margin-top: 0;
}

.famous-card {
    margin-bottom: 15px;
    margin-left: 15px;
    margin-right: 15px;
    background-color: white;
    border: solid 0.3em white;
}

.famous-card img {
    width: 35%;
    border-radius: 20px 0px 0px 20px;
}

.stars-famous {
    margin-top: 30px;
}


/*** Marseilles Activities Article***/

#activities {
    display: flex;
    flex-direction: column;
}

.activity-card {
    border: none;
}

.activity-card img {
    height: 125px;
}

.activity-card h4 {
    padding: 0 30px 20px 15px;
}


/**Footer**/

footer {
    background-color: #F2F2F2;
    padding-top: 25px;
}

#footer {
    display: flex;
    flex-direction: column;
    align-items: center;
}

footer ul {
    list-style-type: none;
    padding-left: 0px;
}

footer a {
    width: 85%;
    text-decoration: none;
    color: black;
}

footer li {
    padding-top: 5px;
    padding-bottom: 5px;
}