/*** Header ***/

#accommodation_border

{
    border-top: none;
    border-bottom: 3px solid #0065fc;
}

header
{
    
    
}

header nav
{
    width: 75%;
    flex-wrap: wrap-reverse;
}

/**Second Section**/

#second_section h3
{
    width:100%;
}

/**Third Section**/

#third_section
{
    flex-direction: column-reverse;
    flex-wrap: wrap;
}

#third_section aside
{
    width: 100%;
    justify-content: center;
    border-radius: revert;
}

#third_section article
{
    width: 100%;
    background-color:white;
    border-radius: revert;
}


#third_section h3
{
    margin-top: 10%;
    margin-left: 5%;
}



#footer
{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 10%;
}