
body
{
    font-family: 'Raleway', sans-serif;
    font-weight: normal;
    
}

h1, h2, h3, h4
{
    font-family: 'Raleway', sans-serif;
    font-weight:bold;
    
}

/* Header */
header
{
    color: #0065FC;
    display: flex;
           
}

header img
{
    width:30%;
}

header p
{
    color: #0065FC;
    font-weight: bold;  
}

nav ul
{
    list-style-type: none;
}

nav a
{
    text-decoration: none;
    color: black;
}

footer
{
    background-color: #F2F2F2;
}

footer ul
{
    list-style-type: none;
    padding-left: 0px;
}

footer a
{
    width: 85%;
    text-decoration: none;
    color: black;
}
